* {
    box-sizing: border-box;
  }
  body{
    background-color: royalblue;
  }
  header{
    display: block;
    width: 100%;
    margin: 25px auto;
  }
  h1{
    text-align: center;
    font-size: 3em;
    color: yellowgreen;
  }
  
  hr{
    width: 30%;
    border: 5px solid white;
    animation-name: line;
    animation-duration: 3s;
  }
  @keyframes line{
     0% {
      width: 0px;
    }
    100% {
       width: 30%;
    }
  }
  
  
  h3{
    text-align: center;
    color: white;
    font-family: "Arial", "Helvetica", san-serif;
    animation-name: subtitle;
    animation-duration: 6s;
  }
  @keyframes subtitle{
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  #main{
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    width: 100%;
    height: auto;
  }
  
  #img-div{
    width: 75vw;
    height: auto;
    margin:auto;
  }
  
  #img-div img{
    display:block;
    max-width:100%;
    height: auto;
    margin:auto;
  }
  
  #img-caption{
    position: relative;
    display: block;
    margin: auto;
    width: auto;
    padding: 15px;
    text-align: center;
    color: skyblue;
    background-color: darkblue;
  }
  h4{
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    color: yellowgreen;
    font-size: 2em;
    border-bottom: 5px solid white;
    padding-bottom: 10px;
  }
  #tribute-info{
    width: inherit;
    height:auto;
    color: #ffEEfe;
  }
  @media (min-width: 400px)
    {
      #tribute-info{
      width: 75vw;
      height:auto;
      margin: auto;
      padding: 15px;
      color: #ffEEfe;
    }
  }
  #tribute-info ul{
    margin-top: 0px;
  }
  
  #tribute-info ul li {
    font-family: "Arial", "Helvetica", san-serif;
    font-size: 18px;
    line-height: 1.7em;
  }
  
  #tribute-link {
    align-self:center;
    margin: 50px auto;
    display: inline-block;
    padding: 15px;
    background-color: navy;
    color: white;
    font-family: "Arial", "Helvetica", san-serif;
    font-size: 18px;
  }
  #tribute-link:link, #tribute-link:hover{
    text-decoration: none;
    background-color: yellowgreen;
    color: navy;
  }
  #brands{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
    width: 75vw;
  }
  #brands img{
    display: block;
    align-self: flex-start;
    padding: 15px;
    max-width: 150px;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    background-color: white;
  }
  
  @media (max-width: 600px)
  {
      #brands img{
      display: block;
      align-self: flex-start;
      padding: 15px;
      max-width: 100%;
      margin: 15px;
      height: auto;
    }
  }
  .fig-caption{ 
    margin: 0px auto;
    width: auto;
    padding: 15px;
    text-align: center;
    color: yellowgreen;
  }
  